body {
  width: 1524px;
  height: 706px;
}

.card-title {
  color: rgb(10, 80, 80);
}
.containe {
  width: 1400px;
  height: 1900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: large;
  color: black;
}
.content {
  margin-top: 150px;
  margin-left: 200px;
  flex-direction: column;
  display: flex;
  width: 1900px;
  height: 1000px;
  color: black;
}
.content__logo {
  width: 40px;
  height: 40px;
}
.card__img {
  position: absolute;
  z-index: 3;
  transform: rotate(3deg);
  margin-top: 210px;
  margin-left: 150px;
  height: 480px;
  width: 850px;
}
.card__img_2 {
  position: absolute;
  z-index: 5;
  margin-top: 87px;
  margin-left: 700px;
  height: 520px;
  width: 713px;
  transform: rotate(6deg);
  opacity: 95%;
  border: 40px;
  border-color: antiquewhite;
}
.card__img_1 {
  position: absolute;
  z-index: 4;
  margin-top: 66px;
  margin-left: 670px;
  height: 570px;
  width: 770px;
  transform: rotate(6deg);
  opacity: 95%;
  border: 40px;
  border-color: antiquewhite;
}
.footer__text {
  margin-left: 120px;
}
.footer__link {
  text-decoration: none;
  margin-left: 120px;
  color: black;
  font-size: large;
}
.footer {
  margin-left: 222px;
  margin-top: 52px;
  width: 460px;
  height: 400px;

  transform: rotate(6deg);
  background-color: transparent;

  z-index: 55;
}
.footer__text_also {
  position: absolute;
  z-index: 3;
  transform: rotate(352deg);
  margin-top: 1740px;
  margin-left: 794px;
  height: 450px;
  width: 470px;
}
